.flex-block {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
}

.flex-inline {
  display: inline-flex;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
}

.flex-wrap {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
}

.header {
  background-color: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
  position: relative;
  z-index: 10;
}
.header__desktop {
  display: block;
}
.header__device {
  display: none;
  background-color: #ffffff;
}
.header__top {
  border-bottom: 1px solid #D9D9D9;
}
.header__center {
  padding-top: 16px;
  padding-bottom: 16px;
}
.header__bottom {
  background-color: #4F4F4F;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.08);
  padding: 9px 0;
  position: relative;
}
.header__h-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.header__h-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.header__h-bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.h-nav {
  padding-right: 80px;
  margin-left: auto;
}
.h-nav__item {
  display: inline-block;
  position: relative;
}
.h-nav__item:hover .h-nav__link {
  border-color: #F3E03B;
  font-weight: 700;
}
.h-nav__item:hover .h-nav__sublist {
  display: block;
}
.h-nav__item-angle {
  position: relative;
}
.h-nav__item-angle::after {
  content: "";
  background-image: url(../img/icons/angle-top-black.svg);
  height: 6px;
  width: 10px;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  display: inline-block;
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: 0;
}
.h-nav__item-angle:hover .h-nav__link {
  border-bottom: 3px solid transparent;
}
.h-nav__item-angle:hover::after {
  transform: rotate(0);
  -webkit-transform: rotate(0);
}
.h-nav__item-angle .h-nav__link {
  padding-right: 30px;
}
.h-nav__item-angle .h-nav__link::after {
  padding-right: 15px;
}
.h-nav__link {
  font-size: 88.89%;
  color: #333333;
  padding: 13px 15px 10px 15px;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  display: block;
  position: relative;
}
.h-nav__link::after {
  padding-top: 3px;
}
.h-nav__sublist {
  padding-top: 17px;
  display: none;
  background-color: #ffffff;
  position: absolute;
  top: 100%;
  left: 0;
  width: 243px;
  z-index: 2;
  border-bottom: 4px solid #F3E03B;
  box-shadow: 5px 13px 21px rgba(0, 0, 0, 0.21);
  border-radius: 0px 0px 5px 5px;
}
.h-nav__subitem {
  position: relative;
}
.h-nav__sublink {
  display: block;
  font-size: 88.89%;
  padding: 9px 24px 14px;
  border-left: 2px solid transparent;
  width: 100%;
  color: #333333;
}
.h-nav__sublink:hover {
  border-color: #F3E03B;
  font-weight: 700;
  background-color: #F8F8F8;
  backdrop-filter: blur(13px);
}

.h-spare {
  border: 3px solid #F3E03B;
  padding: 11px 75px 12px 75px;
  border-radius: 5px;
  display: inline-block;
  max-width: 234px;
  position: relative;
  font-weight: 500;
  font-size: 100%;
}
.h-spare__icon {
  display: block;
  position: absolute;
  width: 20px;
  height: 19px;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  background-position: center center;
  left: 20px;
  top: 14px;
}
.h-spare::after {
  content: "";
  display: block;
  width: 10px;
  height: 6px;
  background-image: url(../img/icons/angle-top-black.svg);
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  position: absolute;
  right: 41px;
  top: 21px;
}
.h-spare:hover {
  border-color: #F3E03B;
  background-color: #F3E03B;
}

.h-lang {
  padding-left: 125px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}
.h-lang__item {
  display: block;
}
.h-lang__link {
  font-size: 66.67%;
  color: #333333;
  padding: 9px 10px;
  border: 1px solid transparent;
  border-radius: 6px;
  display: inline-block;
  font-weight: 400;
}
.h-lang__link-active {
  border: 1px solid #D9D9D9;
  font-weight: 700;
  text-decoration: underline;
}

.h-logo__img {
  width: 166px;
  display: block;
  height: auto;
}

.h-location {
  position: relative;
  padding-left: 37px;
  font-size: 77.78%;
}
.h-location b {
  font-weight: 700;
}
.h-location__icon {
  width: 19px;
  height: 34px;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  background-position: left center;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -17px;
}

.h-time {
  font-size: 77.78%;
}
.h-time b {
  font-weight: 700;
}

.h-phone {
  font-size: 88.89%;
  position: relative;
  margin-right: -26px;
}
.h-phone__current {
  position: relative;
  padding-left: 43px;
  font-weight: 700;
  padding-right: 17px;
  cursor: pointer;
}
.h-phone__current::after {
  content: "";
  display: block;
  width: 10px;
  height: 6px;
  background-image: url(../img/icons/angle-top-black.svg);
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: contain;
  background-size: contain;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -3px;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}
.h-phone__icon {
  width: 29px;
  height: 29px;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -14.5px;
}
.h-phone__modal {
  position: absolute;
  left: -12px;
  right: -41px;
  top: -14px;
  background-color: #ffffff;
  z-index: 4;
  box-shadow: 5px 13px 21px rgba(0, 0, 0, 0.21);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  padding: 27px 17px 31px;
  display: none;
}
.h-phone__list {
  padding-bottom: 20px;
  display: block;
  width: 100%;
}
.h-phone__item {
  text-align: center;
  width: 100%;
  display: block;
}
.h-phone__link {
  display: inline-block;
  font-size: 88.89%;
  font-weight: 700;
  border-bottom: 3px solid transparent;
  background-color: transparent;
  border-radius: 10px 10px 0px 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
  padding: 7px 10px 5px 41px;
  position: relative;
}
.h-phone__link svg {
  display: block;
  height: 18px;
  fill: #333;
  width: auto;
  position: absolute;
  left: 8px;
  top: 50%;
  margin-top: -9px;
}
.h-phone__link:hover {
  border-color: #F3E03B;
  background-color: #f8f8f8;
}
.h-phone__link:hover svg {
  fill: #F3E03B;
}
.h-phone__info {
  display: block;
  padding: 15px 25px 24px;
  background-color: #F8F8F8;
  border-radius: 10px;
  text-align: center;
  font-size: 66.67%;
  color: #333333;
  line-height: 140%;
  margin-bottom: 15px;
}
.h-phone__row {
  display: block;
  width: 100%;
  position: relative;
  text-align: center;
  text-transform: lowercase;
}
.h-phone__row::after {
  content: "";
  height: 1px;
  width: 100%;
  left: 0;
  right: 0;
  background-color: #D9D9D9;
  position: absolute;
  bottom: 6px;
}
.h-phone__row span {
  display: inline-block;
  background-color: #ffffff;
  position: relative;
  z-index: 2;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 66.67%;
  color: #808080;
  line-height: 100%;
  font-weight: 700;
}
.h-phone__form {
  padding-top: 12px;
}
.h-phone__form form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.h-phone__input {
  height: 40px;
  display: block;
  background-color: #ffffff;
  border: 1px solid #D9D9D9;
  border-radius: 6px;
  padding: 0 10px;
  color: #808080;
  font-weight: 400;
  width: 100%;
}
.h-phone__input::placeholder {
  opacity: 1;
  color: #808080;
}
.h-phone__btn {
  width: 42px;
  max-width: 42px;
  min-width: 42px;
  height: 40px;
  margin-left: 4px;
  border: none;
  background-color: #F3E03B;
  cursor: pointer;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  box-shadow: 3px 4px 9px rgba(0, 0, 0, 0.08);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: center;
  align-items: center;
}
.h-phone__btn svg {
  fill: #333333;
  display: block;
  height: 20px;
  width: auto;
}
.h-phone__btn:hover {
  background-color: #424242;
}
.h-phone__btn:hover svg {
  fill: #F3E03B;
}

.h-callback {
  font-size: 88.89%;
  height: 50px;
  background-color: #4f4f4f;
  backdrop-filter: blur(13px);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 0 38px;
  color: #ffffff;
  font-weight: 400;
  line-height: 50px;
}
.h-callback:hover {
  box-shadow: 5px 13px 21px rgba(0, 0, 0, 0.08);
}

.h-services {
  position: relative;
  background-color: #424242;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  padding: 0 62px 0 56px;
  height: 50px;
  line-height: 50px;
  color: #ffffff;
  font-size: 88.89%;
  display: inline-block;
}
.h-services__icon {
  display: block;
  width: 19px;
  height: 19px;
  position: absolute;
  left: 16px;
  top: 50%;
  margin-top: -9.5px;
}
.h-services::after {
  content: "";
  width: 10px;
  height: 6px;
  display: block;
  background-image: url(../img/icons/angle-bottom-white.svg);
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  right: 21px;
  top: 50%;
  margin-top: -1px;
}

.h-servlist {
  position: absolute;
  left: 20px;
  right: 9px;
  width: auto;
  top: 100%;
  z-index: -1;
  padding-top: 9px;
  display: none;
}
.h-servlist__list {
  background-color: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
  border-bottom: 9px solid #424242;
  padding: 29px 5px 50px;
}
.h-servlist__list::before {
  content: "";
  display: table;
}
.h-servlist__list::after {
  content: "";
  display: table;
  clear: both;
}
.h-servlist__item {
  width: 25%;
  float: left;
  padding-bottom: 15px;
  padding-right: 15px;
}
.h-servlist__link {
  position: relative;
  padding-left: 48px;
  border-left: 2px solid transparent;
  height: 50px;
  display: block;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.h-servlist__link:hover {
  background-color: #F8F8F8;
  font-weight: 700;
  border-left: 2px solid #F3E03B;
  backdrop-filter: blur(13px);
}
.h-servlist__link:hover .h-servlist__icon {
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -ms-filter: grayscale(0);
  -o-filter: grayscale(0);
  filter: grayscale(0);
}
.h-servlist__icon {
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  left: 17px;
  top: 50%;
  margin-top: -10px;
  -webkit-background-size: contain;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}

.h-search {
  position: relative;
  width: 53%;
  margin-left: 8px;
}
.h-search__input {
  height: 48px;
  display: block;
  width: 100%;
  padding: 0 50px 0 19px;
  border: 1px solid #D9D9D9;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  background-color: #ffffff;
}
.h-search__input::placeholder {
  opacity: 1;
  color: #D9D9D9;
}
.h-search__input-visible {
  border-radius: 6px 6px 0 0;
  border-bottom: 1px solid #fff;
}
.h-search__btn {
  width: 48px;
  height: 48px;
  display: block;
  border: none;
  background-color: transparent;
  background-image: url(../img/icons/loop-gray.svg);
  background-repeat: no-repeat;
  -webkit-background-size: 19px auto;
  background-size: 19px auto;
  background-position: center center;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  cursor: pointer;
}
.h-search__toggle {
  display: none;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 10px;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  width: auto;
  z-index: 2;
  background-color: #ffffff;
  border-radius: 0 0 6px 6px;
  -webkit-border-radius: 0 0 6px 6px;
  border: 1px solid #D9D9D9;
  border-top: none;
  overflow: hidden;
}
.h-search__toggle::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: auto;
  height: 64px;
  background: linear-gradient(167.6deg, rgba(252, 252, 252, 0) -1.4%, #FCFCFC 74.91%);
}
.h-search__subtitle {
  color: #808080;
  font-weight: 400;
  font-size: 88.89%;
  display: block;
  padding-bottom: 12px;
}
.h-search__list {
  padding-bottom: 26px;
}
.h-search__item {
  padding-bottom: 5px;
}
.h-search__item:last-child {
  padding-bottom: 0;
}
.h-search__link {
  display: block;
  width: 100%;
  padding-left: 25px;
  position: relative;
  font-size: 88.89%;
  color: #333333;
  font-weight: 400;
}
.h-search__link::before {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  position: absolute;
  left: 6px;
  top: 10px;
  background-color: #333333;
}
.h-search__link-cat::before {
  display: none;
}
.h-search__icon {
  width: 15px;
  height: 15px;
  display: block;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: contain;
  background-size: contain;
  position: absolute;
  left: 0;
  top: 4px;
}

.h-basket {
  position: relative;
  margin-left: 8px;
}
.h-basket__input {
  height: 50px;
  display: block;
  background-color: #FAFAFA;
  border: 1px solid #898888;
  backdrop-filter: blur(13px);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  line-height: 50px;
  padding: 0 28px;
  color: #898888;
  font-weight: 400;
  font-size: 88.89%;
  white-space: nowrap;
}
.h-basket__services b {
  color: #333333;
  font-weight: 500;
}
.h-basket__sum {
  padding-left: 18px;
}
.h-basket__sum b {
  color: #333333;
  font-weight: 500;
}
.h-basket__toggle {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  padding-top: 9px;
  z-index: -1;
}
.h-basket__wrapper {
  background-color: #FFFFFF;
  border: 1px solid #D9D9D9;
  box-shadow: 5px 13px 21px rgba(0, 0, 0, 0.21);
  border-radius: 5px;
  padding: 26px 0 31px;
}
.h-basket__row {
  font-size: 88.89%;
  height: 50px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding-left: 29px;
  padding-right: 31px;
  border-left: 2px solid transparent;
  width: 100%;
}
.h-basket__row:hover {
  background-color: #F8F8F8;
  border-left: 2px solid #F3E03B;
  backdrop-filter: blur(13px);
}
.h-basket__number {
  width: 29px;
}
.h-basket__price {
  color: #808080;
  margin-left: auto;
}
.h-basket__price b {
  font-weight: 700;
  color: #333333;
}

.h-outfit {
  margin-left: 8px;
}
.h-outfit__btn {
  background-color: #F3E03B;
  backdrop-filter: blur(13px);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  display: inline-block;
  padding: 0 35px 0 63px;
  position: relative;
  color: #333333;
  font-weight: 700;
  height: 50px;
  line-height: 50px;
  white-space: nowrap;
}
.h-outfit__icon {
  display: block;
  width: 22px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: contain;
  background-size: contain;
  position: absolute;
  left: 22px;
  top: 50%;
  margin-top: -10px;
}

.dh-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 17px;
  padding-bottom: 19px;
}

.dh-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  text-decoration: none;
  background-color: #424242;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}
.dh-menu svg {
  fill: #F3E03B;
}

.dh-logo {
  display: inline-block;
}
.dh-logo__img {
  display: block;
  height: 42px;
  width: auto;
}

.dh-order {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;
  width: 40px;
  height: 40px;
  position: relative;
}
.dh-order__count {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #F3E03B;
  font-size: 88.89%;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  z-index: 1;
  font-weight: 500;
}
.dh-order svg {
  display: block;
  height: 20px;
  width: auto;
  position: relative;
  z-index: 2;
}

.dh-search {
  display: block;
  width: 100%;
  position: relative;
  padding-bottom: 14px;
}
.dh-search form {
  display: block;
}
.dh-search__input {
  width: 100%;
  height: 36px;
  border: 1px solid #D8DCE6;
  line-height: 34px;
  padding-left: 15px;
  padding-right: 36px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  display: block;
}
.dh-search__btn {
  width: 36px;
  height: 36px;
  cursor: pointer;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-background-size: 13px auto;
  background-size: 13px auto;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
}