.flex-block {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
}

.flex-inline {
  display: inline-flex;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
}

.flex-wrap {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1149px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .h-nav {
    padding-right: 40px;
  }

  .h-lang {
    padding-left: 40px;
  }

  .h-phone {
    margin-right: 0;
  }

  .h-logo__img,
.f-info__img {
    width: 130px;
  }

  .f-list {
    width: 100%;
  }

  .f-callback {
    min-width: auto;
    max-width: none;
    width: 100%;
    padding-top: 30px;
    padding-left: 50px;
  }

  .f-callback__input {
    width: 100%;
  }

  .s3-service__price {
    padding-right: 15px;
  }

  .section-1,
.section-2,
.section-3,
.section-4,
.section-5,
.section-6,
.section-7,
.section-8,
.section-9,
.section-10,
.section-11,
.section-12,
.section-13 {
    font-size: 88%;
  }

  .s2-advantage__time::after {
    width: 235%;
    margin-left: -61.5px;
  }

  .s2-advantage__timeline {
    padding-left: 183px;
    padding-right: 190px;
  }
}
@media (min-width: 992px) {
  .s2-advantage__mobtitme {
    display: none !important;
  }

  .s4-mob__info {
    display: none !important;
  }

  .s4-img-right {
    background-image: none !important;
  }
}
@media (max-width: 991px) {
  .section-34 {
    padding: 50px 0;
  }

  .s34-callback {
    padding: 0 30px;
  }

  .s34-callback__left {
    width: 100%;
    text-align: center;
  }

  .s34-callback__right {
    display: none;
  }

  .s34-callback {
    background-image: none !important;
    background-color: transparent !important;
    box-shadow: none;
  }

  .section-33 {
    background-image: url(../img/photo-22.png);
    background-repeat: no-repeat;
    background-position: left 165px;
  }

  .s33-parts__list {
    padding-right: 0 !important;
    padding-left: 84px !important;
    padding-top: 0;
  }

  .s33-parts__icon {
    order: -1 !important;
    margin-left: 0 !important;
    margin-right: 20px !important;
  }

  .s33-parts__title {
    order: 0 !important;
  }

  .s33-parts {
    padding-bottom: 35px !important;
    padding-left: 75px;
  }

  .s33-sheme {
    display: none;
  }

  .s33-top {
    max-width: 272px;
  }

  .s32-info__btn {
    display: none;
  }

  .s32-info__description {
    max-width: none;
  }

  .s32-info {
    text-align: center;
  }

  .section-32 {
    background-image: url(../img/photo-21.jpg) !important;
  }

  .section-35 {
    background-position: center bottom;
    padding-bottom: 50px;
  }

  .section-33 {
    padding-top: 40px;
  }

  .s33-top {
    padding-bottom: 30px;
  }

  .s31-soc {
    display: none;
  }

  .s31-form__btn {
    margin-top: 0;
  }

  .s31-form__btn {
    display: block;
    text-align: center;
    width: 100%;
  }

  .s31-info {
    padding-top: 25px;
  }

  .s31-info__wrapper {
    text-align: center;
  }

  .s31-info__title::before {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }

  .section-32 {
    padding-top: 40px;
    padding-bottom: 10px;
  }

  .section-31 {
    padding-bottom: 10px;
  }

  .section-31__map {
    padding-bottom: 30px;
  }

  .section-31__map {
    padding-top: 20px;
  }

  .s31-way {
    padding-top: 20px;
  }

  .section-31__map__pattern {
    display: none;
  }

  .section-29 {
    padding-top: 40px;
    padding-bottom: 20px;
  }

  .section-30 {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .s30-top {
    padding-bottom: 30px;
  }

  .s30-bottom {
    padding-top: 30px;
  }

  .s29-top {
    padding-bottom: 30px;
    text-align: center;
  }

  .s29-reviews__item {
    width: 50%;
  }

  .section-23 {
    padding-bottom: 25px;
  }

  .section-24 {
    padding-top: 25px;
  }

  .s23-right__top {
    padding-bottom: 15px;
  }

  .s23-right {
    padding-top: 15px;
  }

  .s23-left {
    max-width: none;
  }

  .section-25 {
    padding-bottom: 20px;
  }

  .section-27 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .section-28 {
    padding-top: 20px;
    padding-bottom: 30px;
  }

  .s28-link {
    margin-bottom: 20px;
    max-width: none;
    min-height: 90px;
  }

  .section-26 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .s26-item {
    display: none;
  }

  .section-26 .s8-news__description {
    display: block !important;
  }

  .section-21 {
    padding-top: 50px;
    padding-bottom: 20px;
  }

  .s8-news__link .s8-news__more {
    opacity: 1;
  }

  .s8-news__link:hover {
    box-shadow: none;
  }

  .section-20 .row .col-lg-6:last-child {
    order: -1;
  }

  .s20-right {
    max-width: none;
  }

  .s20-left {
    max-width: none;
    padding-top: 30px;
  }

  .section-20 {
    padding-bottom: 50px;
  }

  .s20-left__bottom {
    text-align: right;
  }

  .content {
    overflow: hidden;
  }

  .section-17 {
    overflow: hidden;
  }

  .s19-item__top::after {
    background-image: none;
  }

  .s19-item__description {
    min-height: auto;
    padding-bottom: 30px;
    max-width: none;
  }

  .s19-item {
    padding-bottom: 20px;
  }

  .s18-top {
    padding-bottom: 30px;
  }

  .s19-item__bottom {
    padding-top: 0;
    text-align: right;
  }

  .s18-left {
    display: none;
  }

  .s17-right__img {
    padding-right: 20px;
    width: auto;
    margin-left: 0;
    margin-right: -20px;
  }

  .s17-right__img::before {
    top: -17px;
    bottom: 28px;
  }

  .s17-right {
    margin-bottom: 30px;
  }

  .section-17 .row .col-lg-6:last-child {
    order: -1;
  }

  .section-17 {
    padding-top: 50px;
    padding-bottom: 30px;
  }

  .section-18 {
    padding-top: 50px;
    padding-bottom: 20px;
  }

  .section-19 {
    padding-top: 50px;
    padding-bottom: 30px;
  }

  .s16-white {
    padding: 0;
    background-color: transparent;
  }

  .s15-order__phone__input {
    margin-right: 0;
    width: 100%;
    max-width: none;
    height: 35px;
    font-size: 88.89%;
    margin-bottom: 13px;
  }

  .s15-order__button {
    width: 100%;
    text-align: center;
    height: 35px;
    line-height: 35px;
  }

  .s15-order__phone__text {
    font-size: 88.89%;
    display: block;
    padding-bottom: 15px;
  }

  .s15-order__phone {
    display: block;
    width: 100%;
  }

  .s15-order__bottom {
    padding-top: 40px;
    padding-right: 0;
  }

  .s15-order__info {
    max-width: none;
  }

  .s15-order__inputs {
    justify-content: space-between;
    width: 100%;
    padding-top: 50px;
  }

  .s15-order__inputs .s15-order__price {
    width: 50%;
    margin: 0;
    height: 34px;
    line-height: 32px;
  }
  .s15-order__inputs .s15-order__price:first-child {
    margin-right: 7px;
  }
  .s15-order__inputs .s15-order__price:last-child {
    margin-left: 7px;
  }

  .s15-order__sum {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  .s15-order__row {
    padding-bottom: 20px;
  }

  .s15-order__serv {
    height: 35px;
    font-size: 88.89%;
    padding: 0 15px;
  }

  .s15-order__count .s3-service__input {
    height: 35px;
    font-size: 88.89%;
  }

  .s15-order__price {
    height: 35px;
    font-size: 88.89%;
    line-height: 33px;
  }

  .s15-order__count .s3-service__math {
    width: 22px;
    min-width: 22px;
    max-width: 22px;
    height: 22px;
    line-height: 20px;
    font-size: 88.89%;
  }

  .s15-order__count .s3-service__math-minus {
    margin-right: 10px;
  }

  .s15-order__count .s3-service__math-plus {
    margin-left: 10px;
  }

  .s15-order__title {
    font-size: 88.89%;
  }

  .s15-order__table {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .s15-order__cell:nth-child(3) {
    width: auto;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .s15-order__cell:nth-child(4) {
    max-width: 165px;
    width: 100%;
    padding-bottom: 0;
  }

  .s15-order__cell:nth-child(5) {
    padding-bottom: 0;
    padding-left: 0;
  }

  .s15-order__cell:nth-child(1) {
    display: none !important;
  }

  .s15-order__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .s15-order__cell:nth-child(2) {
    width: 100%;
    padding-left: 0;
    padding-bottom: 10px;
  }

  .section-15 {
    padding-top: 40px;
    padding-bottom: 67px;
  }

  .section-14 {
    display: none;
  }

  .s15-top__title::before {
    width: 44px;
    height: 44px;
    top: -9px;
    -webkit-background-size: 21px auto;
    background-size: 21px auto;
  }

  .s15-order__row-top {
    display: none;
  }

  .s15-top__title {
    padding-left: 54px;
  }

  .header__desktop,
.footer__desktop {
    display: none;
  }

  .header__device,
.footer__device {
    display: block;
  }

  .section-1__bg {
    position: static;
    display: block;
    width: 100%;
    height: 295px;
    border-radius: 0;
    -webkit-border-radius: 0;
  }

  .s1-info {
    width: 100%;
  }

  .section-1,
.section-2,
.section-3,
.section-4,
.section-5,
.section-6,
.section-7,
.section-8,
.section-9,
.section-10,
.section-11,
.section-12,
.section-13 {
    font-size: 100%;
  }

  .modal {
    width: 100%;
  }

  .fancybox-slide--html {
    padding: 0;
  }

  .footer {
    background-color: #f9f9f9;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.08);
  }

  .container-full-mob {
    max-width: none;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .container-full-mob .row, .container-full-mob .col-12 {
    margin: 0;
    padding: 0;
  }

  .s1-record {
    margin-left: 0;
    margin-right: 0;
  }

  .s1-info {
    padding-top: 25px;
    max-width: 276px;
  }

  .s1-record__left {
    padding: 15px 17px 11px 30px;
    width: 100%;
  }

  .s1-record__right {
    padding: 17px 15px 15px;
    width: 100%;
  }

  .s1-info__info {
    font-size: 55.56%;
    line-height: 17px;
  }

  .s1-info__title {
    font-size: 222.22%;
    line-height: 54px;
  }

  .s1-record__title {
    font-size: 111.11%;
  }

  .s1-record__description {
    font-size: 72.22%;
  }

  .s1-info__wrapper {
    padding-bottom: 13px;
  }

  .s1-info__subtitle {
    padding-top: 13px;
    font-size: 100%;
    line-height: 25px;
  }

  .s1-record__input {
    width: 50%;
    margin-right: 7px;
    font-size: 72.22%;
    height: 37px;
  }

  .s1-record__btn {
    width: 50%;
    margin-left: 7px;
    text-align: center;
    font-size: 72.22%;
    height: 37px;
    line-height: 33px;
  }

  .s1-record__info {
    text-align: center;
    font-size: 72.22%;
  }

  .section-2 {
    padding-top: 38px;
    padding-bottom: 27px;
  }

  .title {
    font-size: 111.11%;
  }

  .description {
    font-size: 72.22%;
  }

  .s2-top__description {
    padding-top: 17px;
    max-width: none;
  }

  .s2-top {
    width: 100%;
    max-width: 328px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .s2-advantage {
    flex-wrap: wrap;
  }

  .s2-advantage__item {
    width: 51% !important;
    margin-right: auto;
    margin-left: 0;
    padding-bottom: 30px;
  }
  .s2-advantage__item:nth-child(odd) {
    margin-left: auto;
    margin-right: 0;
  }

  .s2-advantage__timeline {
    display: none;
  }

  .s2-advantage__time::after {
    display: none;
  }

  .s2-advantage__mobtitme {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    background-image: url(../img/icons/curve-line-yelow-right.svg);
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    background-position: center center;
    position: absolute;
    width: 30%;
    left: 120%;
    top: 45px;
    bottom: 15px;
    height: auto;
  }
  .s2-advantage__mobtitme .s2-advantage__time {
    margin-right: -20px;
  }

  .s2-advantage__item {
    position: relative;
  }
  .s2-advantage__item:nth-child(odd) .s2-advantage__mobtitme {
    justify-content: flex-start;
    left: -50%;
    background-image: url(../img/icons/curve-line-yelow-left.svg);
  }
  .s2-advantage__item:nth-child(odd) .s2-advantage__mobtitme .s2-advantage__time {
    margin-left: -20px;
  }

  .section-3 {
    padding-top: 44px;
    padding-bottom: 32px;
  }

  .s3-top__description {
    padding-top: 16px;
  }

  .s3-top {
    max-width: 280px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 32px;
  }

  .section-3__fixed.fixed {
    position: static;
  }

  .s3-filter__link {
    font-size: 72.22%;
  }

  .s3-service__label,
.s3-service__input {
    font-size: 72.22%;
  }

  .s3-service__price {
    font-size: 88.89%;
    text-align: center;
    padding-right: 0;
    padding-bottom: 10px;
  }

  .s3-service__right {
    display: block;
  }

  .section-3__fixed {
    position: static !important;
  }

  .s3-calc__left {
    display: none !important;
  }

  .s3-calc {
    margin-top: 25px;
  }

  .s3-calc__right {
    width: 100%;
  }

  .s3-calc__right {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
  }

  .s3-info__row {
    max-width: 100%;
  }

  .s3-info__list {
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
  }

  .s3-info__btn {
    width: 100%;
    display: block;
  }

  .s3-calc {
    padding-bottom: 28px;
  }

  .section-4 {
    padding-top: 46px;
    padding-bottom: 49px;
  }

  .s8-news__time,
.s8-news__serv,
.s23-right__data,
.s32-info__info {
    font-size: 55.56%;
  }

  .s33-parts__item,
.s13-button__btn,
.s3-info__name,
.s3-info__link,
.s3-info__btn,
.s3-info__input,
.s4-info__info,
.description,
.s4-info__item,
.s5-callback__info,
.s5-callback__phone,
.s5-form__description,
.s5-form__btn,
.s4-info__button,
.top-title p, .top-title b, .top-title strong,
.s8-news__title,
.s11-marks__link,
.s11-bottom__btn,
.s17-right__item,
.s17-left__info,
.s19-item__distance,
.s19-item__more,
.s28-link__name,
.s32-video__title {
    font-size: 72.22%;
  }

  .s5-form__input,
.s31-way__text,
.s31-info__title,
.s33-parts__title {
    font-size: 88.89%;
  }

  .s28-link__title {
    font-size: 100%;
  }

  .title,
.s4-info__title,
.s5-form__title,
.top-title h1, .top-title h2, .top-title h3, .top-title h4,
.s17-right__char {
    font-size: 111.11%;
  }

  .s3-info__input,
.s3-info__btn,
.s5-form__btn,
.s4-info__button,
.s13-button__btn,
.s34-callback__btn {
    height: 35px;
    line-height: 33px;
    border-radius: 2px;
  }

  .s13-button__btn__icon {
    width: 24px;
    height: 24px;
    margin-top: -12px;
  }

  .s4-mob__info {
    display: block;
  }

  .s4-info {
    padding-left: 5px;
    padding-right: 5px;
  }
  .s4-info .s4-info__info {
    display: none;
  }
  .s4-info .s4-info__title {
    display: none;
  }

  .s4-img {
    padding: 17px 0 0 0;
    margin-top: 21px;
  }
  .s4-img::before {
    bottom: 28px;
    height: auto;
    left: -20px;
  }

  .section-4 {
    overflow: hidden;
  }

  .s4-info__list {
    padding-top: 25px;
  }

  .section-5 {
    padding-top: 53px;
    padding-bottom: 61px;
  }

  .s5-record .row .col-lg-6:last-child {
    order: -1;
  }

  .s5-callback__wrapper {
    display: none;
  }

  .s5-callback__text {
    padding-top: 0;
  }

  .s5-callback {
    padding-right: 0;
    text-align: center;
    width: 100%;
    max-width: none;
    padding-top: 20px;
  }

  .s5-form__input {
    height: 30px;
  }

  .s5-callback__phone {
    padding-bottom: 0;
    border-bottom: 1px solid #333;
    line-height: 110%;
  }

  .s5-callback__info {
    padding-bottom: 0;
    line-height: 110%;
  }

  .s5-record {
    padding: 33px 35px 37px 35px;
  }

  .s5-form__btn {
    border-radius: 2px;
    width: 100%;
    text-align: center;
  }

  .s5-form__description {
    padding-top: 16px;
    padding-bottom: 32px;
  }

  .s5-form__bottom {
    padding-top: 19px;
  }

  .section-4-standart {
    padding-bottom: 44px;
  }
  .section-4-standart .s4-mob__info .s4-info__info {
    text-align: center;
    display: block;
    padding-bottom: 41px;
  }
  .section-4-standart .s4-info .s4-info__title {
    display: block;
    padding-top: 0;
  }
  .section-4-standart .s4-img__photo {
    display: none;
  }
  .section-4-standart .s4-img-right {
    padding-top: 0;
    margin-top: 0;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 0px 0px 0px 40px;
    -webkit-border-radius: 0px 0px 0px 40px;
    margin-right: -15px;
  }

  .s4-info__bottom {
    padding-top: 5px;
  }

  .section-6 {
    padding-top: 30px;
    padding-bottom: 75px;
  }

  .section-7 {
    padding-top: 30px;
    padding-bottom: 53px;
  }

  .s6-top__description {
    padding-bottom: 34px;
  }

  .s6-top {
    padding-bottom: 29px;
    max-width: 304px;
  }

  .s7-slider__bottom {
    display: none;
  }

  .slick-arrow {
    width: 20px;
    height: 20px;
    line-height: 20px;
    -webkit-background-size: auto 8px;
    background-size: auto 8px;
    background-position: center center;
  }

  .s7-top {
    max-width: 264px;
  }

  .s7-slider {
    padding-top: 60px;
  }

  .s7-top__description {
    padding-bottom: 15px;
  }

  .section-7::before {
    top: 122px;
    bottom: 31px;
    border-radius: 10px 0 0 10px;
  }

  .section-8 {
    padding-top: 73px;
    padding-bottom: 62px;
  }

  .s8-top {
    padding-bottom: 53px;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
  }

  .top-title {
    line-height: 110%;
  }

  .hidden-mob-news {
    display: none;
  }

  .s8-news__description {
    display: none;
  }

  .s8-news__title {
    padding-top: 9px;
  }
  .s8-news__title::before {
    display: none;
  }

  .s8-news__bottom {
    padding-left: 0;
    padding-right: 0;
    padding-top: 3px;
  }

  .s8-news__link {
    padding-bottom: 0;
  }

  .section-9 {
    padding-top: 86px;
    padding-bottom: 0;
  }

  .s9-top {
    max-width: 320px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
  }

  .s9-slider__wrapper {
    border: 2px solid #fff;
  }
  .s9-slider__wrapper:hover {
    border: 2px solid #F3E03B;
  }

  .s9-slider__item {
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 30px;
  }

  .s9-slider {
    width: 100%;
    display: block;
  }

  .section-10 {
    padding-top: 30px;
    padding-bottom: 64px;
  }

  .s10-top {
    max-width: 209px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
  }

  .s10-slider__img {
    height: auto;
    padding-top: 60%;
    -webkit-background-size: auto 20px;
    background-size: auto 20px;
  }

  .s10-slider__title {
    display: none;
  }

  .section-11 {
    padding-top: 48px;
    padding-bottom: 31px;
  }

  .s11-top {
    max-width: 301px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 37px;
  }

  .s11-marks__item {
    width: 50%;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 10px;
  }

  .s11-marks__link {
    height: 38px;
    border-radius: 2px;
  }

  .s11-bottom {
    padding-top: 20px;
  }

  .s11-bottom__btn {
    height: 35px;
    line-height: 35px;
    border-radius: 2px;
  }

  .section-12 {
    padding-top: 70px;
    padding-bottom: 50px;
  }

  .s13-info {
    display: none;
  }

  .section-13__info {
    margin-top: 0;
  }
}
@media (max-width: 767px) {
  .s29-reviews__item {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 20px;
  }

  .s8-news__img {
    height: 85px;
  }

  .s29-reviews {
    padding: 0;
  }

  .s29-reviews__circle {
    margin-left: auto;
    margin-right: auto;
  }
}